#form-container {
    background-color: lightyellow;
    color: black;
    padding-top: 1%;
}
#fields-container {
    border: thin dotted black;
    display: flex;
}
#fields-container > * {
    border: thin dotted black;
    flex: 1;
}
.inputs-container > * {
    background-color: #faf6eb;
    border: dotted thin;
    margin: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.8em;
    text-align: right;
    padding-right: 1.5em;
}
button {
    margin: 2%;
    color: white;
    background-color: #0864ac;
    padding: 0.7% 5% 0.7% 5%;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s linear;
    border: none;
    border-style: inset;
}
button:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}
.button-containers{
    text-align: center;
 }
 #short-description {
     background-color:  #faf6eb;
     font-family: "Comic Sans MS", "Comic Sans", cursive;
     font-size: 0.8em;
 }
 fieldset {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 0.7%;
    width: 93%;
    margin:auto;
    border: solid thin;
}
.first-inputs {
    height: 40px;
    width: 60%;
}
.first-divs {
    padding-right: 55px;
}
input {
    width: 10em;
}
button:disabled {
    background-color: lightgrey;
}
form p {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgb(133, 5, 5);
}